<launch>
  <arg name="camera" default="event_camera"/>
  <arg name="message_type" default="event_packet"/>
  <node pkg="nodelet" type="nodelet"
    name="republish_nodelet" args="standalone event_camera_tools/RepublishNodelet"
    clear_params="true" output="screen">
    <param name="output_message_type" value="$(arg message_type)"/>
    <remap from="~/input_events" to="/$(arg camera)/events"/>
    <remap from="~/output_events"
	   to="/$(arg camera)/republished_events"/>
    <remap from="~/output_triggers" to="/$(arg camera)/republished_triggers"/>
  </node>
</launch>
